.notes-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid springgreen;
  margin:20px 0;
  padding: 10px;
  max-height: 300px;
  position: relative;
}

.notify-text{
  position: absolute;
  width: 200px;
  left: -210px;
  bottom: 0;
  border: 1px solid;
}