.notes-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f5e6f5;
  margin:20px 0;
  padding: 10px;
  max-height: 300px;
  position: relative;
}

.notify-text{
  position: absolute;
  width: 190px;
  left: -245px;
  bottom: 0px;
}

.mate-image-wrapper{
  position: absolute;
  right: -216px;
  top: -190px;
}

.mate-figure{
  max-width: 200px;
}

.mate-img{
  width: 100%;
}

.sticky-note-blue {
	background: #b9dcf4;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}