.result-area{
  font-size: 25px;
  font-weight: 400;
  font-family: inherit;
}

.time-taken {
  font-size: 40px;
  font-weight: 800;
  font-family: fangsong;
}

.approx{
  font-weight: 100;
  font-size: 10px;
  padding-left: 10px;
}
.warning-text{
  font-size: 12px;
  font-weight: 300;
  font-family: cursive;
  color: #fb590a;
}