.result-area{
  font-size: 20px;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #52c41a;
}

.approx{
  font-weight: 100;
  font-size: 10px;
  padding-left: 10px;
}

.warning-text{
  font-size: 12px;
  font-weight: 300;
  font-family: cursive;
  color: #fb590a;
  width: 150px;
  padding-top: 10px;
}