.work-timer-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f5e6f5;
  padding: 10px;
}

.timer{
  font-weight: bold;
  font-family: monospace;
  font-size: 40px;
  margin: 0;
  background: #e3edf7;
  padding: 0px 5px;
  border-radius: 10px;
}
.timer-element{
   border: 1px solid;
   padding: 5px;
   margin-right: 5px;
   border-radius: 15px;
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
   inset -4px -4px 6px -1px rgba(255,255,255,0.7),
   -0.5px -0.5px 0 rgba(255,255,255,1),
   0.5px 0.5px 0 rgba(0,0,0,0.15),
   0px 12px 10px -10px rgba(0,0,0,0.05);
border: 1px solid rgba(0,0,0,0.01);
}

.control-button{
  border: 5px solid;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.control-button:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}

.control-button:hover {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
  cursor: pointer;
}

.control-button-inner{
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background: blanchedalmond;;
  display: flex;
  align-items: center;
  justify-content: center;
}