.main-wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  height: 100v
}

.components-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.break-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #f5e6f5;
}

.clear-note{
  position: absolute;
  bottom: -8px;
  left: 340px;
  opacity: 0.5;
  font-size: 10px;
}