.main-wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  /* background-color: rgba(0,0,0, 0.3); */
  height: 100v
}

.components-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.break-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid;
}