.calender-wrapper {
  width: 120px;
  border-radius: 35px;
  text-align: center;
  background: #eef0f4;
  box-shadow: 8px 10px 15px #43144c, -10px -10px 15px #0000;
}

.calender-inner-wrapper{
  border-radius: 35px;
  background: #eef0f4;
  box-shadow: inset 10px 10px 15px #f1f6ff, inset -10px -10px 15px #ffffff;
}

.month {
  font-size: 20px;
  text-transform: uppercase;
  color: #ee5222;
  font-weight: 800;
  margin: 0;
}

.date {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

.formatted-date{
  margin:0;
  opacity: 0.2;
}
.calender{
  position: relative;
}
.monthly-calender-wrapper{
  position: absolute;
  z-index: 99;
  width: 300px;
  background: #eef0f4;
  box-shadow: 1px -1px 1px #0000, -4px -3px 9px #8b7c8e;
  top:154px;
  left: 40px;
}